/* Header Section */
.header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 93vh;
  width: 100%;
}

.container-info-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-header {
  color: white;
  font-size: 4rem;
  cursor: pointer;
  letter-spacing: 2px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  transition: color 0.3s ease, transform 0.2s ease;
}

.subtitle-header {
  color: white;
  letter-spacing: 1px;
  opacity: 0.9;
  transition: color 0.3s ease, transform 0.2s ease;
}

.title-header:hover,
.subtitle-header:hover {
  text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);
}

.text-header {
  color: white;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container-img-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-img-toReveal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64vh;
  width: 64vh;
  border-radius: 12px;
}

.box-img {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  height: 60vh;
  width: 60vh;
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.box-img:hover {
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.197);
}

.img-header {
  height: 25rem;
  width: 25rem;
  object-fit: cover;
  overflow: hidden;
  border-radius: 8px;
  opacity: 0.8;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.box-img:hover .img-header {
  transform: scale(1.05);
  opacity: 1;
}

/* Responsive */

@media screen and (max-width: 1270px) {
  .title-header {
    font-size: 45px;
  }

  .subtitle-header {
    font-size: 19px;
  }

  .text-header {
    font-size: 13px;
  }

  .container-img-toReveal {
    height: 54vh;
    width: 54vh;
  }

  .box-img {
    height: 50vh;
    width: 50vh;
  }

  .img-header {
    height: 20rem;
    width: 20rem;
  }
}

@media screen and (max-width: 1060px) {
  .container-img-toReveal {
    height: 49vh;
    width: 26rem;
  }

  .box-img {
    height: 45vh;
    width: 45vh;
  }

  .img-header {
    height: 17rem;
    width: 17rem;
  }
}

@media screen and (max-width: 850px) {
  .container-img-toReveal,
  .box-imgl,
  .img-header {
    display: none;
  }

  .container-header {
    grid-template-columns: 1fr 0fr;
  }
}

@media screen and (max-width: 700px) {
  .title-header {
    font-size: 37px;
  }

  .subtitle-header {
    font-size: 14px;
  }

  .text-header {
    font-size: 11px;
  }
}

@media screen and (max-width: 320px) {
  .title-header {
    font-size: 30px;
  }

  .subtitle-header {
    font-size: 13px;
  }

  .text-header {
    font-size: 11px;
  }
}

@media screen and (max-width: 1200px) and (min-height: 1300px) {
  .title-header {
    font-size: 35px;
  }

  .subtitle-header {
    font-size: 15px;
  }

  .text-header {
    font-size: 13px;
  }

  .box-img {
    height: 30vh;
    width: 30vh;
  }
}

@media screen and (max-width: 900px) and (min-height: 1250px) {
  .title-header {
    font-size: 35px;
  }

  .subtitle-header {
    font-size: 15px;
  }

  .text-header {
    font-size: 13px;
  }

  .box-img {
    height: 30vh;
    width: 30vh;
  }
}

/* About me Section */
.aboutMe-div {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container-text-aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2.3rem;
  gap: 1rem;
}

.containerParagraph-aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.title-aboutMe {
  color: white;
  font-size: 40px;
  text-transform: uppercase;
  transition: color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
  margin-bottom: 3rem;
}

.title-aboutMe:hover {
  text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);
}

.text-aboutMe {
  text-align: center;
  width: 35rem;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  line-height: 1.5;
  text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.2);
}

.container-studies-softSkills {
  display: grid;
  grid-auto-rows: 0.8fr 1.2fr;
  grid-template-columns: 1fr;
}

.container-studies {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.title-studies-section {
  font-size: 23px;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.container-softSkills {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.soft-skills-div {
  display: flex;
  gap: 2rem;
}

/* Responsive */
@media screen and (max-width: 1270px) {
  .aboutMe-div {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: auto;
  }

  .title-aboutMe {
    font-size: 35px;
  }

  .text-aboutMe {
    font-size: 22px;
  }

  .containerParagraph-aboutMe {
    gap: 30px;
    min-height: 45vh;
  }
}

@media screen and (max-width: 720px) {
  .container-softSkills {
    display: none;
  }

  .title-aboutMe {
    font-size: 30px;
  }

  .text-aboutMe {
    font-size: 13px;
    width: 25rem;
  }

  .containerParagraph-aboutMe {
    gap: 25px;
    min-height: 40vh;
  }

  .aboutMe-div {
    gap: 0px;
    height: 90vh;
    justify-content: flex-start;
    padding-top: 4rem;
  }
}

@media screen and (max-width: 450px) {
  .aboutMe-div {
    height: 80vh;
  }

  .title-aboutMe {
    font-size: 25px;
  }

  .text-aboutMe {
    font-size: 11px;
    width: 20rem;
  }

  .container-studies {
    justify-content: center;
    gap: 2rem;
  }

  .title-studies-section {
    font-size: 18px;
  }
}

@media screen and (max-width: 376px) {
  .text-aboutMe {
    font-size: 10px;
    width: 20rem;
  }

  .title-studies-section {
    font-size: 15px;
  }

  .container-studies {
    gap: 0.5rem;
  }
}

/* inverted cellphones and tablets responsive */

@media screen and (max-width: 950px) and (max-height: 500px) {
  .aboutMe-div {
    gap: 2rem;
    height: auto;
  }

  .title-aboutMe {
    font-size: 25px;
  }

  .text-aboutMe {
    font-size: 12px;
    width: 30rem;
  }
}

@media screen and (max-width: 950px) and (max-height: 400px) {
  .aboutMe-div {
    height: auto;
  }
}

@media screen and (min-width: 1000px) and (min-height: 1000px) {
  .aboutMe-div {
    height: auto;
  }
}

/* My skills section */

.mySkills-div {
  min-height: 110vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.title-mySkills {
  color: white;
  font-size: 40px;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.2s ease;
}

.title-mySkills:hover {
  text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.55);
}

@media screen and (max-width: 600px) {
  .title-mySkills {
    font-size: 34px;
  }

  .mySkills-div {
    padding-top: 5vh;
  }
}

/* Projects Section */

.projects-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 1rem;
  padding-bottom: 10vh;
}

.projects-title {
  color: white;
  font-size: 40px;
  padding-top: 3.5rem;
  justify-self: center;
  transition: color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}

.projects-title:hover {
  text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);
}

.container-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  gap: 3rem;
}

@media screen and (max-width: 767px) {
  .projects-title {
    font-size: 23px;
  }
}

/* Footer section */

.container-footer {
  width: 100%;
  background: black;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

.title-footer {
  font-size: 38px;
  font-weight: 700;
  color: white;
  cursor: pointer;
}

.subtitle-footer {
  color: rgb(255, 255, 255, 0.7);
}

.copyright {
  color: white;
  font-weight: 700;
  cursor: pointer;
}

/* Responsive */

@media screen and (max-width: 1024px){
  .title-footer {
    font-size: 30px;
  } 
}

@media screen and (max-width: 760px){
  .title-footer {
    font-size: 20px;
  } 

  .subtitle-footer{
    font-size: 10px;
  }

  .copyright {
    font-size: 14px;
  }
}
