.softSkill-card {
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #121212;
  width: 11rem;
  height: 14rem;
  background: var(--bg-color);
  box-shadow: 4px 4px var(--secondary-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  gap: 10px;
}

.title-softSkill-card {
  color: white;
}

.description-softSkill-card {
  color: white;
  color: rgba(255, 255, 255, 0.5);
}
