.project-card {
  /* style */
  padding: 20px;
  border-radius: 10px;
  transition: box-shadow 0.3s ease-in-out;
  position: relative;

  /* body */
  height: 22rem;
  width: 75%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1.6fr 0.2fr;
}

.project-card:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.project-card:hover .description-project-card {
  color: rgba(255, 255, 255, 1);
}

.project-name {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
}

.project-name::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 42.5%;
  height: 3px;
  background: var(--secondary-color);
  transition: width 0.3s ease-in-out;
}

.project-card:hover .project-name::after {
  width: 100%;
}

.project-section-info {
  background-color: #121212;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-columns: 0.85fr 1.15fr;
}

.sectionPreview-project-Card {
  display: flex;
  position: re;
  z-index: 4;
}

.img-web-project {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
}

.project-card:hover .img-web-project{
  opacity: 1;
}

.sectionInfo-Project-card {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description-project-card {
  color: rgba(220, 220, 220, 0.85);
  text-align: center;
  width: 80%;
  letter-spacing: 1.5px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  transition: color 0.3s ease-in-out;
}

.links-projects-div {
  display: flex;
  align-items: center;
 
}


